body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.search-head{
  width: 100%;
  display: flex;
  flex-direction: row;
  

}
.search-head-input{
  height: 2.8rem;
  width: 50rem;
  font-size: 1.0rem;
  background: #F2F2F2;
  border: none;
  margin-left: 10rem;
  padding-left: 1rem;

}
.search-head-btn{
  height: 2.9rem;
  padding: 0.3rem;
  width: 7rem;
  font-size: 1.0rem;
  font-weight: 600;
  color: white;
  background: #000;

}
.search-res{
  background: white;
  width: 51rem;
  
  padding-top: 5px;
  padding-left: 10px;
}
.search-res:hover{
  background: #F2F2F2;
  cursor: pointer;
}
.right-details{
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 20rem;
  /* background: #F2F2F2; */
}
.install-det{
  border: 1px solid #bbb7b7;
  /* padding: 0.4rem; */
  padding-top: 10px;
  margin-top: -0.4rem;
  padding-left: 10px;
  height: 2.3rem;
  width: 20rem;
  color: black;
  border-radius: 5px;
}
.repo-det{
  height: 2.3rem;
  font-weight: 600;
  margin-top: -0.6rem;
  margin-left: 0.5rem;
}
.dash-flex{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  /* margin-top: -1.3rem; */
}
.btn-copytext{
  
  /* padding: 0.4rem; */
  padding-top: 10px;
  margin-top: -0.4rem;
  padding-left: 10px;
  height: 2.3rem;
  width: 5rem;
  background: #b5ee73;
  /* width: 20rem; */
  color: black;
  border-radius: 5px;

  
}
.btn-copytext:hover{
  cursor: pointer;
}

.main-dash{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.left-details{
  text-align: center;
  width: 54rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  height: 30rem;
  align-items: stretch;
  
  /* background: #000; */
}
.list-version{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 gap: 2rem;
 /* width: 54rem; */
 overflow: scroll;
 height: 10rem;
 align-items: stretch;
 border: 1px solid red;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.list-version p{
  height: 2rem;
  width: 3rem;
  text-align: center;
  border: 1px solid blue;
  padding: 0.2rem;
  text-decoration: none;
  text-wrap: wrap;
  background: #a7ddf3;
  /* color: white; */
  border-radius: 5px;

}
.list-version p:hover{
  cursor: pointer;
  background: #18b5f3;
  color: white;
}
.head-det{
  /* width: 77rem; */
  text-align: center;
  display: flex;
  flex-direction: row;
  /* gap: 5rem; */
}
.cont-btn{
  margin-top: 2rem;
  /* border: 1px solid black; */
  padding: 1rem;
  background: #affffb;
  color: black;
}
.cont-btn:hover{
  cursor: pointer;
}